<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139306597357-revdc24iduloecrotjavlk5594kkn24q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139306597357-revdc24iduloecrotjavlk5594kkn24q</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Nwd0Mf58vOEFQf9HqNdquRvv6556FNU</string>
	<key>GCM_SENDER_ID</key>
	<string>139306597357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anisdev.learningApp</string>
	<key>PROJECT_ID</key>
	<string>tomb-raider-e178e</string>
	<key>STORAGE_BUCKET</key>
	<string>tomb-raider-e178e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139306597357:ios:917751361e1d52bdcc85e4</string>
	<key>DATABASE_URL</key>
	<string>https://tomb-raider-e178e.firebaseio.com</string>
</dict>
</plist>